/* image_board_form.php */
#board_box {
  width: 50rem;
  margin: 2rem auto;
  font-size: 1.2rem;
}

#board_box h3 {
  font-size: 2rem;
  border-bottom: 2px solid #516e7f;
}

#board_box img {
  border-radius: 10px;
  object-fit: cover;
}

#board_title {
  margin-top: 5rem;
}

#board_form span {
  display: inline-block;
}

#board_form .col1 {
  width: 9.375rem;
}

#board_form ul {
  float: left;
}

#board_form li {
  padding: 0.75rem;
  border-bottom: 1px solid #dddddd;
}

#board_form input:not([type="checkbox"]):not([type="file"]) {
  width: 31.25rem;
  height: 1.5625rem;
  font-size: 1.3rem;
}

#checkbox {
  margin-left: 1rem;
}

#board_form textarea {
  width: 31.25rem;
  height: 8.4375rem;
  font-size: 1.3rem;
}

#board_form #text_area {
  position: relative;
  height: 9.875rem;
}

#board_form #text_area .col1 {
  position: absolute;
  top: 0.625rem;
}

#board_form #text_area .col2 {
  position: absolute;
  left: 10.5rem;
}

#board_form #attachment .col2 input {
  font-size: 1.1rem;
}

#board_form #new_attachment .col2 input {
  font-size: 1.1rem;
}

#board_box .buttons {
  text-align: right;
  margin: 1rem 0 3rem 0;
}

#board_box .buttons li {
  display: inline;
}

#board_box .buttons button {
  padding: 0.3rem 1.3rem;
  cursor: pointer;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #443e58;
  color: white;
}

#board_box .buttons form {
  display: inline-block;
}

/* image_board_list.php */
#board_list {
  display: flex;
  justify-content: space-around;
}

#board_list_title {
  margin-top: 5rem;
}

#board_list li {
  display: inline-block;
  text-align: center;
  padding: 0.625rem 0;
  border-bottom: 1px solid #dddddd;
}

#board_list li:nth-child(1) {
  width: 30%;
}

#board_list li:nth-child(2) {
  width: 30%;
}

#board_list li:nth-child(3) {
  width: 30%;
}

#board_list span {
  display: inline-block;
  text-align: center;
}

#board_list .col1 {
  width: 5rem;
}

#board_list .col2 {
  width: 20.625rem;
  text-align: left;
}

#board_list .col3 {
  width: 6.25rem;
}

#board_list .col4 {
  width: 2.5rem;
}

#board_list .col5 {
  width: 11.25rem;
}

#board_list .col6 {
  width: 2.5rem;
}

#page_num {
  text-align: center;
  margin: 2rem 0;
}

#page_num li {
  display: inline;
}

/* image_board_view.php */
#board_view_title {
  margin-top: 3rem;
}

#view_content li:nth-child(1) {
  padding: 0.9rem;
  border-bottom: 1px solid #aaaaaa;
}

#view_content .col2 {
  float: right;
}

#view_content li:nth-child(2) {
  text-align: center;
  padding: 3rem 1rem;
  border-bottom: 1px solid #cccccc;
}

#view_content li:nth-child(3) button {
  padding: 0.3rem 1.3rem;
  margin: 0.9rem 0 2.5rem 45rem;
  cursor: pointer;
}

#reply_textarea textarea {
  width: 100%;
  font-size: 1.2rem;
}

#reply_button button {
  font-size: 1.2rem;
  padding: 0.3rem 1.3rem;
  border: none;
  border-radius: 5px;
  background-color: #443e58;
  color: white;
}

#input_delete {
  margin-bottom: 0.5rem;
  padding: 0.3rem 1.3rem;
  border: none;
  border-radius: 5px;
  background-color: #443e58;
  color: white;
}
